<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <jaxws:server address="/mobile" serviceClass="com.scen.mobile.server.MobileInterFace">
        <jaxws:serviceBean>
            <ref bean="mobileServer"/>
        </jaxws:serviceBean>
    </jaxws:server>

    <bean name="mobileServer" class="com.scen.mobile.server.MobileInterFaceImpl">
        <property name="mobileClient" ref="mobileClient"/>
    </bean>

    <jaxws:client id="mobileClient" address="http://ws.webxml.com.cn/WebServices/MobileCodeWS.asmx"
                  serviceClass="com.scen.mobile.MobileCodeWSSoap"/>
</beans>